$dropdown-width: 150px;

.user-dropdown {
    position: relative;

    &.down > .icon-button {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }
}

.border-fix {
    position: absolute;
    background: var(--background-2);
    z-index: 3;
    top: 29px;
    right: 1px;
    height: 1px;
    width: 28px;
}

.dropdown {
    //row-gap: 0.5rem;

    top: 29px;
    right: 0;
    position: absolute;
    width: $dropdown-width;
    background: var(--background-2);
    border: var(--border);
    z-index: 2;

    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    & > button:first-child {
        border-top-left-radius: var(--border-radius);
    }

    & > button:last-child {
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
}
.out .dropdown {
    border-bottom-left-radius: 0;

    button:last-child {
        border-bottom-left-radius: 0;
    }
}

.dropdown-item {
    border: none;
    border-radius: 0;
    height: 30px;
    width: 100%;
}

.theme-dropdown-button {
    position: relative;
    width: 100%;
    border-radius: 0;
}

.theme-dropdown {
    display: flex;
    flex-direction: column;
    width: 150px;
    z-index: 3;
    position: absolute;
    right: $dropdown-width;
    top: -1px;
    border-radius: var(--border-radius);
    border-top-right-radius: 0;
    border: var(--border);


    button:first-child {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: 0;
    }

    button:last-child {
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
}

.out .theme-dropdown {
    border-top-right-radius: 0;

    button:first-child {
        border-top-left-radius: var(--border-radius);
    }
    button:last-child {
        border-bottom-left-radius: var(--border-radius);
    }
}

.border-fix-2 {
    position: absolute;
    background: var(--background-2);
    z-index: 4;
    top: 0;
    right: $dropdown-width;
    height: 60px;
    width: 1px;
}

.hidden {
    display: none;
}

.selected {

}
