.mimic-input {
    background: var(--background-1);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--foreground-0);
    height: 38px;

    width: 100%;
    padding: 0 1rem;
    font-size: inherit;
    font-family: inherit;
}
