<div class="book">
    <div class="image" (dblclick)="bookDoubleClick()">
<!-- TODO Replace this with a dynamic link (probably going to forget it until I serve this app live so hi future me lol) -->
        <img src="http://localhost:5153/api/books/{{book.id}}/cover" alt="{{book.title}} cover">
    </div>
    <div class="description">
        <div class="title" [title]="book.title">
            {{book.title}}
        </div>
        <m-dropdown icon="fa-ellipsis-vertical" buttonType="icon" classes="description-button">
            test
        </m-dropdown>
    </div>
</div>
