.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    color: var(--foreground-0);
    background: var(--background-0);
}

.header-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 64px;
    width: 64px;
    font-size: 1.5rem;

    border-right: var(--border);
    border-bottom: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
}

.body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.sidebar {
    height: 100%;
    width: 64px;
    background: var(--background-1);
    transition: width 0.5s ease-in-out;
    border-right: var(--border);
}

.sidebar.out {
    width: 200px;
}

.content {
    display: flex;
    //padding: 1rem;
    flex-grow: 1;
    background: var(--background-0);
}

.content-wrapper {
    overflow-y:auto;
}

.dialog {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
