.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    color: var(--foreground-0);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background: var(--background-1);

    padding-right: 1rem;

    border-bottom: var(--border);
}

.body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.sidebar {
    width: 60px;
    height: 100%;
    background: var(--background-1);
    transition: width 0.5s ease-in-out;
    border-right: var(--border);
}

.sidebar.out {
    width: 200px;
}

.content {
    display: flex;
    padding: 1rem;
    flex-grow: 1;
    background: var(--background-0);
}

