<div class="main-container {{theme?.class}}">
    <div class="header" *ngIf="loggedIn">
        <div class="pull-right">
        </div>
    </div>
    <div class="body">
        <div class="sidebar" *ngIf="loggedIn">
            <app-sidebar></app-sidebar>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div *ngIf="dialogOpen" class="dialog-container" (click)="handleDialogBackgroundClick($event)">
        <div #dialog class="dialog">
            <ng-container *ngTemplateOutlet="getDialog()"></ng-container>
        </div>
    </div>
</div>
