<div class="main-container {{theme?.class}}">
    <div class="header-section">
        <div class="logo">
            <i class="fas fa-home"></i>
        </div>
        <app-header>
        </app-header>
    </div>

    <div class="body">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div #content class="content">
            <div #contentWrapper class="content-wrapper">
                <router-outlet *ngIf="!resizing"></router-outlet>
            </div>
        </div>
    </div>
</div>
