<div class="books">
    {{#each books}}
        <div class="book">
            <a href="http://192.168.68.109:3000/{{title}}.epub?id={{id}}" download>{{title}}</a>
        </div>
    {{/each}}
</div>

<div class="next">
    <a href=""></a>
</div>
<div class="previous">
    
</div>

<!--<div class="books">-->
<!--    <div class="book"></div>-->
<!--    <div class="book"></div>-->
<!--    <div class="book"></div>-->
<!--    <div class="book"></div>-->
<!--    <div class="book"></div>-->
<!--    <div class="book"></div>-->
<!--</div>-->
