<div class="sidebar">
    <div class="top">
        <app-sidebar-item type="link" [label]="'Dashboard'" icon="fa-house" route=""></app-sidebar-item>
    </div>
    <div class="bottom">
        <app-sidebar-item type="link" [label]="'Admin'" icon="fa-lock" route="admin"></app-sidebar-item>
        <app-sidebar-item type="link" [label]="'Settings'" icon="fa-gear" route="settings"></app-sidebar-item>
        <app-sidebar-item type="button" [label]="'Logout'" icon="fa-right-from-bracket" (buttonClick)="logout()"></app-sidebar-item>
    </div>
</div>
