:host {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem 0;
    width: 62px;
}

.top {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.bottom {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.toggle {
    width: 60px;
    background: var(--background-1);
    border: none;
    margin-bottom: 1rem;
    transition: width 0.5s ease-in-out;
}

.out {
    width: 200px;
}

