<div class="sidebar">
<!--    <button class="button toggle" [ngClass]="{out: isExpanded}" (click)="toggleSidebar()">-->
<!--        <ng-container *ngIf="isExpanded">-->
<!--            <i class="fa-solid fa-chevron-left"></i>-->
<!--            <i class="fa-solid fa-chevron-left"></i>-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf="!isExpanded">-->
<!--            <i class="fa-solid fa-chevron-right"></i>-->
<!--            <i class="fa-solid fa-chevron-right"></i>-->
<!--        </ng-container>-->
<!--    </button>-->
    <div class="top">
        <app-sidebar-item type="link" [text]="'Dashboard'" icon="fa-house" route="" text="Dashboard" [isExpanded]="isExpanded"></app-sidebar-item>
    </div>
    <div class="bottom">
        <app-sidebar-item type="link" [text]="'Users'" icon="fa-users" route="" text="Dashboard" [isExpanded]="isExpanded"></app-sidebar-item>
        <app-sidebar-item type="link" [text]="'Settings'" icon="fa-gear" route="settings" text="Dashboard" [isExpanded]="isExpanded"></app-sidebar-item>
    </div>
</div>
