.button, .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--background-1);
    border-radius: var(--border-radius);
    border: var(--border);
    color: var(--foreground-0);
    height: 30px;
    text-decoration: none;
    font-family: JetbrainsMono, serif;

    &:not([disabled]):hover {
        cursor: pointer;
        filter: brightness(0.9);
    }
    &:not([disabled]):active {
        filter: brightness(0.8);
    }

    &[disabled] {
        cursor: default;
        background: var(--foreground-0);
        color: var(--background-0);
        border: var(--border-inverse);
    }
}

.text-icon-split {
    column-gap: 0.5rem;
}

.icon-button {
    height: 30px;
    width: 30px;
}

.button {
    padding: 0 1rem;
}

.button:disabled {
    background: var(--background-2);
    cursor: default;
}
