.mimic-button, .mimic-icon-button, .mimic-dropdown-button, .mimic-dropdown-icon-button {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    white-space: nowrap;

    background: var(--background-1);
    border-radius: var(--border-radius);
    border: var(--border);
    color: var(--foreground-0);
    height: 30px;
    min-height: 30px;
    text-decoration: none;
    font-family: JetbrainsMono, serif;

    &:not([disabled]):hover {
        cursor: pointer;
        filter: brightness(0.9);
    }
    &:not([disabled]):active {
        filter: brightness(0.8);
    }

    &[disabled] {
        cursor: default;
        background: transparent;
        color: var(--background-4);
        border: var(--border-inverse);
    }
}

.text-icon-split {
    column-gap: 0.5rem;
}

.mimic-icon-button, .mimic-dropdown-icon-button {
    height: 38px;
    min-width: 38px;
    width: 38px;
}

.mimic-button, .mimic-dropdown-button {
    padding: 0 1rem;
}

.mimic-dropdown-button {
    width: 100%;
}
