@font-face {
    font-family: 'JetbrainsMono';
    src: url('./fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    font-size: 12px;
    font-family: JetbrainsMono, serif;
    display: flex;
}

.body {
    flex-grow: 1;
    background: var(--background-0);
    color: var(--foreground-0);

    padding: var(--body-top-padding) var(--body-right-padding) var(--body-bottom-padding) var(--body-left-padding);

    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.sidebar {
    height: fit-content;
    /*width: 62px;*/
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
}


.mimic-icon-button {
    height: 38px;
    width: 38px;
    background: var(--background-1);
    border: var(--border);
    border-radius: var(--border-radius);
}

.catppuccin-mocha {
    --background-0: #181825;
    --background-1: #1e1e2e;
    --background-2: #313244;
    --background-3: #45475a;
    --background-4: #585b70;

    --foreground-0: #cdd6f4;
    --foreground-1: #bac2de;
    --foreground-2: #a6adc8;
    --foreground-3: #9399b2;
    --foreground-4: #7f849c;

    --red: #f38ba8;
    --yellow: #f9e2af;
    --orange: #fab387;
    --magenta: #eba0ac;
    --violet: #b4befe;
    --blue: #89dceb;
    --cyan: #94e2d5;
    --green: #a6e3a1;

    --border-radius: 5px;
    --border: 1px solid var(--foreground-0);
    --border-inverse: 1px solid var(--background-0);

    --body-top-padding: 1rem;
    --body-right-padding: 1rem;
    --body-bottom-padding: 1rem;
    --body-left-padding: 1rem;
}

.catppuccin-latte {
    --background-0: #e6e9ef;
    --background-1: #eff1f5;
    --background-2: #ccd0da;
    --background-3: #bcc0cc;
    --background-4: #acb0be;

    --foreground-0: #4c4f69;
    --foreground-1: #5c5f77;
    --foreground-2: #6c6f85;
    --foreground-3: #7c7f93;
    --foreground-4: #8c8fa1;

    --red: #d20f39;
    --yellow: #df8e1d;
    --orange: #fe640b;
    --magenta: #dd7878;
    --violet: #7287fd;
    --blue: #04a5e5;
    --cyan: #179299;
    --green: #40a02b;

    --border-radius: 1rem;
    --border: 1px solid var(--foreground-0);
    --border-inverse: 1px solid var(--background-0);
}
