<div class="mimic-table-wrapper">
    <table class="mimic-table">
        <thead>
            <tr>
                <ng-container *ngFor="let column of columns">
                    <ng-container *ngTemplateOutlet="getHeaderTemplate(column)"></ng-container>
                </ng-container>
            </tr>
        </thead>
        <tbody *ngIf="!loading">
            <tr *ngFor="let row of rows" class="mimic-row">
                <ng-container *ngFor="let column of columns">
                    <td>
                        <div class="mimic-cell-wrapper">
                            <div class="mimic-cell">
                                <ng-container *ngTemplateOutlet="getTemplate(column); context: {$implicit: row}"></ng-container>
                            </div>
                        </div>
                    </td>
                </ng-container>
            </tr>
        </tbody>
        <tbody *ngIf="loading">
        <tr>
            <td colspan="4">
                <div class="loading">
                    LOADING
                </div>
            </td>
        </tr>
        </tbody>
        <tbody *ngIf="!loading && (rows == null || rows.length <= 0)">
            <tr>
                <td colspan="4">
                    <div class="no-records">
                        <ng-container *ngTemplateOutlet="getTemplate('no-records')"></ng-container>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="showPagination">
            <tr>
                <td colspan="4">
                    <div class="pagination">
                        <div class="left"></div>
                        <div class="center">
                            <button class="icon-button" [disabled]="currentPage == 0" (click)="setPage(1)">
                                <i class="fa-solid fa-chevron-left"></i>
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>
                            <button class="icon-button" [disabled]="currentPage == 0" (click)="setPage(currentPage - 1)">
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>
                            <button class="icon-button invert" disabled>
                                {{currentPage + 1}}
                            </button>
                            <button class="icon-button" [disabled]="currentPage == totalPages - 1" (click)="setPage(currentPage + 1)">
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                            <button class="icon-button" [disabled]="currentPage == totalPages - 1" (click)="setPage(totalPages)">
                                <i class="fa-solid fa-chevron-right"></i>
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>

                        <div class="right">
                            <div class="page-size-dropdown-wrapper" *ngIf="allowedPageSizes.length > 1">
                                <button class="button text-icon-split" (click)="togglePageSizeDropdown()">
                                    {{currentPageSize}}
                                    <i class="fa-solid fa-caret-down"></i>
                                </button>
                                <div class="page-size-dropdown" [ngClass]="{hidden: !showPageSizeDropdown}">
                                    <button class="button dropdown-item" (click)="setPageSize(pageSize)" *ngFor="let pageSize of allowedPageSizes">
                                        {{pageSize}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
