:host {
    display: flex;
    flex-grow: 1;
}

.users {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 1rem;
}

.user-search {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.user-table {
    flex-grow: 1;
}

.table-cell {
    height: 16px;
}
