:host {
    display: flex;
    flex-grow: 1;
}

.users {
    display: flex;
    flex-grow: 1;
}

.user-table {
    flex-grow: 1;
    border: hidden;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px var(--foreground-0);

    tr:first-child {
        height: 60px;
        border-bottom: var(--border);

        th:not(:last-child) {
            border-right: var(--border);
        }
    }
}

.table-cell {
    height: 16px;
}
