.solarized-dark {
    --background-0: #002b36;
    --background-1: #073642;
    --background-2: #586e75;
    --background-3: #657b83;
    --background-4: #839496;

    --foreground-0: #fdf6e3;
    --foreground-1: #eee8d5;
    --foreground-2: #93a1a1;
    --foreground-3: #93a1a1;
    --foreground-4: #93a1a1;

    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;

    --border-radius: 0;
    --border: 1px solid var(--foreground-0);
    --border-inverse: 1px solid var(--background-0);
}
