<div class="auth-container">
    <div class="auth-wrapper">
        <ng-container *ngIf="doingSomething">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </ng-container>
        <ng-container *ngIf="!doingSomething">
            <h2>Login:</h2>
            <div class="form-row">
                <label class="input-label">Username:</label>
                <input class="input" [(ngModel)]="email">
            </div>
            <div class="form-row">
                <label class="input-label">Password:</label>
                <input class="input" type="password" [(ngModel)]="password">
            </div>
            <div class="form-row">
                <div class="pull-right">
                    <button class="button" (click)="login()">Submit</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>
