/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'JetbrainsMono';
    src: url('assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: JetbrainsMono, serif;
}

.pull-right {
    margin-left: auto;
    margin-right: 0;
}

.button, .icon-button {
    background: var(--background-1);
    border-radius: var(--border-radius);
    border: var(--border);
    color: var(--foreground-0);
    height: 30px;
    text-decoration: none;
    font-family: JetbrainsMono;

    cursor: pointer;

    &:hover {
        filter: brightness(0.9);
    }
    &:active {
        filter: brightness(0.8);
    }
}

.icon-button {
    height: 30px;
    width: 30px;
}

.button {
    padding: 0 1rem;
}

.button:disabled {
    background: var(--background-2);
    cursor: default;
}

.input {
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background-1);
    height: 30px;
    flex-grow: 1;
    padding-left: 1rem;
    color: var(--foreground-0);

    &:focus {
        outline: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.catppuccin-mocha {
    --background-0: #181825;
    --background-1: #1e1e2e;
    --background-2: #313244;
    --background-3: #45475a;
    --background-4: #585b70;

    --foreground-0: #cdd6f4;
    --foreground-1: #bac2de;
    --foreground-2: #a6adc8;
    --foreground-3: #9399b2;
    --foreground-4: #7f849c;

    --red:       #f38ba8;
    --yellow:    #f9e2af;
    --orange:    #fab387;
    --magenta:   #eba0ac;
    --violet:    #b4befe;
    --blue:      #89dceb;
    --cyan:      #94e2d5;
    --green:     #a6e3a1;

    --border-radius: 5px;
    --border: 1px solid var(--foreground-0);

    &.main-container {
        padding: 1rem;
        row-gap: 1rem;
    }

    .header {
        border-radius: var(--border-radius);
        border: var(--border);
    }

    .body {
        column-gap: 1rem;

        & > .sidebar {
            border: var(--border);
            border-radius: var(--border-radius);
        }

        & > .content {
            padding: 0;
        }
    }
}

.catppuccin-latte {
    --background-0: #e6e9ef;
    --background-1: #eff1f5;
    --background-2: #ccd0da;
    --background-3: #bcc0cc;
    --background-4: #acb0be;

    --foreground-0: #4c4f69;
    --foreground-1: #5c5f77;
    --foreground-2: #6c6f85;
    --foreground-3: #7c7f93;
    --foreground-4: #8c8fa1;

    --red:       #d20f39;
    --yellow:    #df8e1d;
    --orange:    #fe640b;
    --magenta:   #dd7878;
    --violet:    #7287fd;
    --blue:      #04a5e5;
    --cyan:      #179299;
    --green:     #40a02b;

    --border-radius: 1rem;
    --border: 1px solid var(--foreground-0);

    &.main-container {
        padding: 1rem;
        row-gap: 1rem;
    }

    .header {
        border-radius: var(--border-radius);
        border: var(--border);
    }

    .body {
        column-gap: 1rem;

        & > .sidebar {
            border: var(--border);
            border-radius: var(--border-radius);
        }

        & > .content {
            padding: 0;
        }
    }
}

.solarized-dark {
    --background-0: #002b36;
    --background-1: #073642;
    --background-2: #586e75;
    --background-3: #657b83;
    --background-4: #839496;

    --foreground-0: #fdf6e3;
    --foreground-1: #eee8d5;
    --foreground-2: #93a1a1;
    --foreground-3: #93a1a1;
    --foreground-4: #93a1a1;

    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;

    --border-radius: 0;
    --border: 1px solid var(--foreground-0);
}

.solarized-light {
    --background-0: #fdf6e3;
    --background-1: #eee8d5;
    --background-2: #93a1a1;
    --background-3: #839496;
    --background-4: #657b83;

    --foreground-0: #002b36;
    --foreground-1: #073642;
    --foreground-2: #586e75;
    --foreground-3: #586e75;
    --foreground-4: #586e75;

    --yellow:    #b58900;
    --orange:    #cb4b16;
    --red:       #dc322f;
    --magenta:   #d33682;
    --violet:    #6c71c4;
    --blue:      #268bd2;
    --cyan:      #2aa198;
    --green:     #859900;

    --border-radius: 0;
    --border: 1px solid var(--foreground-0);
}
