:host {
    width: 100%;
}

.input-component {
    display: flex;
    position: relative;
    width: 100%;

    flex-direction: column;
}

.errored {
    color: var(--red);
    & > input {
        border: 1px solid var(--red);
    }
}

.input-label {
    position: absolute;
    z-index: 1;
    top: 2px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 1rem;

    cursor: text;
}

.focused {
    font-size: 0.75rem;
    top: -1px;
    color: var(--background-0);
    //left: 1rem;
    height: auto;
    width: auto;
    //background: var(--background-4);
}

.error, .info {
    padding-left: 1rem;
    font-size: 0.8rem;
}

.error {
    color: var(--red);
}
