<ng-container *ngIf="display">
    <ng-container *ngIf="type === 'link'">
        <a [routerLink]="route" mButton icon="{{icon}}">
        </a>
    </ng-container>
    <ng-container *ngIf="type === 'button'">
        <button (click)="handleButtonClick()" mButton icon="{{icon}}">
        </button>
    </ng-container>
    <ng-container *ngIf="type === 'info'">
        Not supported
    </ng-container>
    <ng-container *ngIf="type === 'header'">
        Not supported
    </ng-container>
</ng-container>
